@tailwind base;
@tailwind components;
@tailwind utilities;

/* Exemple optionnel: style global */
body {
  @apply bg-background-light text-text-light transition-colors duration-300;
}

.dark body {
  @apply bg-background-dark text-text-dark;
}
